certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
exceptiongroup==1.2.2
flake8==5.0.4
Flask==2.2.5
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
importlib-metadata==4.2.0
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
nulltype==2.3.1
packaging==24.0
plaid-python==28.1.0
pluggy==1.2.0
pycodestyle==2.9.1
pyflakes==2.5.0
pytest==7.4.4
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
pytz==2024.2
PyYAML==6.0.1
requests==2.31.0
six==1.17.0
SQLAlchemy==2.0.37
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.0.7
Werkzeug==2.2.3
WTForms==3.0.1
zipp==3.15.0
