{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Welcome Back, {{ username }} </h1>

<h2>Spending Overview</h2>
<div class="chart-container">
  <canvas id="spendingChart"></canvas>
</div>

<div>
  <h3>Financial Summary</h3>
  <p><strong>Total Budget Limit:</strong>${{ total_limit }}</p>
  <p><strong>Total Spent:</strong>${{ total_spent }}</p>
  <p><strong>Total Remaining:</strong>${{ total_remaining }}</p>
</div>

<div>
  <h3>Your Budget</h3>
  {% if budgets %}
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Limit Amount</th>
          <th>Amount Spent</th>
          <th>Remaining</th>
        </tr>
      </thead>
      <tbody>
        {% for budget in budgets %}
          <tr>
            <td>{{ budget['category'] }}</td>
            <td>{{ budget['limit_amount'] }}</td>
            <td>{{ budget['amount_spent'] }}</td>
            <td>{{ budget['limit_amount'] - budget['amount_spent'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You have no budgets set. <a href="{{ url_for('budget') }}">Add a Budget</a></p>
  {% endif %}
</div>
<div>
  <h3>Your Financial Goals</h3>
  {% if goals %}
    <table>
      <thead>
        <tr>
          <th>Goal Name</th>
          <th>Target Amount</th>
          <th>Current Amount</th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
        {% for goal in goals %}
          <tr>
            <td>{{ goal['goal_name'] }}</td>
            <td>${{ goal['target_amount'] }}</td>
            <td>${{ goal['current_amount'] }}</td>
            <td>
              {% set progress = (goal['current_amount'] / goal['target_amount']) * 100 %}
              <div class="progress-bar-container">
                <div class="progress-bar" style="width: {{progress | round(2) }}%;"></div>
              </div>
              {{ progress | round(2) }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You have no goals set <a href="{{ url_for('add_goal') }}">Add a Goal</a></p>
  {% endif %}
</div>
<div>
  <h3>Quick Links</h3>
  <ul>
    <li><a href="{{ url_for('budget') }}">Manage Budgets</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    <li><a href="{{ url_for('view_goals') }}">Goals</a></li>
  </ul>
</div>
<p>Here you can view your recent transactions, budgets and goals.</p>

<script src="{{ url_for('static', filename='chart.js') }}"></script>
<script>
    renderSpendingChart({{ labels | tojson }}, {{ values | tojson }});
</script>
{% endblock %}